In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, roc_curve
from pandas_profiling import ProfileReport
import sklearn
import matplotlib.pyplot as plt
from sklearn import tree
%matplotlib inline

In [2]:
data = pd.read_excel('Training Data Set.xlsx',skiprows=1)

In [3]:
data

,sl.no,Station,Date,Time,Sex,Age Group(14-50),Week End,No of Passengers,No. of Bikes
0,1,Kengeri,2022-05-03,6.00 -7.00 AM,Male,Yes,Yes,50,13
1,2,Kengeri,2022-05-03,6.00 -7.00 AM,Female,Yes,Yes,70,18
2,3,Kengeri,2022-05-03,6.00 -7.00 AM,Male,No,Yes,30,8
3,4,Kengeri,2022-05-03,6.00 -7.00 AM,Female,No,Yes,43,11
4,5,Puttenegere,2022-05-03,6.00 -7.00 AM,Male,Yes,Yes,45,12
...,...,...,...,...,...,...,...,...,...
403,404,Nayadahalli,2022-05-03,10.00 - 11.00 PM,Female,No,Yes,34,9
404,405,Mysore Road,2022-05-03,10.00 - 11.00 PM,Male,Yes,Yes,72,18
405,406,Mysore Road,2022-05-03,10.00 - 11.00 PM,Female,Yes,Yes,56,14
406,407,Mysore Road,2022-05-03,10.00 - 11.00 PM,Male,No,Yes,31,8
407,408,Mysore Road,2022-05-03,10.00 - 11.00 PM,Female,No,Yes,34,9

In [4]:
data_new = data.drop(['sl.no','Date','Week End'],axis = 1)

In [5]:
### creating dummy variables for season , mnth ,weathersit ,weekday
dummy = data_new[['Station','Time','Sex','Age Group(14-50)']]

dummy = pd.get_dummies(dummy,drop_first=True )

## adding dummy variables to original dataset
data_new = pd.concat([dummy,data_new],axis = 1)

# Now let's see the head of our dataframe.
data_new.head()

,Station_Kengeri,Station_Mysore Road,Station_Nayadahalli,Station_Puttenegere,Station_Rajarajeshwari Nagar,Time_10.00 - 11.00 AM,Time_10.00 - 11.00 PM,Time_11.00 - 12.00 AM,Time_12.00 - 1.00 PM,Time_2.00 - 3.00 PM,...,Time_9.00 - 10.00 AM,Time_9.00 - 10.00 PM,Sex_Male,Age Group(14-50)_Yes,Station,Time,Sex,Age Group(14-50),No of Passengers,No. of Bikes
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,Kengeri,6.00 -7.00 AM,Male,Yes,50,13
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,Kengeri,6.00 -7.00 AM,Female,Yes,70,18
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,Kengeri,6.00 -7.00 AM,Male,No,30,8
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,Kengeri,6.00 -7.00 AM,Female,No,43,11
4,0,0,0,1,0,0,0,0,0,0,...,0,0,1,1,Puttenegere,6.00 -7.00 AM,Male,Yes,45,12

In [6]:
data_new.drop(['Station','Time','Sex','Age Group(14-50)'],axis=1,inplace=True)

In [7]:
#data_new.to_csv(".")

In [8]:
x = data_new.drop(['No. of Bikes'],axis=1)

In [9]:
y = data_new['No. of Bikes']

In [10]:
x

,Station_Kengeri,Station_Mysore Road,Station_Nayadahalli,Station_Puttenegere,Station_Rajarajeshwari Nagar,Time_10.00 - 11.00 AM,Time_10.00 - 11.00 PM,Time_11.00 - 12.00 AM,Time_12.00 - 1.00 PM,Time_2.00 - 3.00 PM,...,Time_6.00 -7.00 AM,Time_7.00 - 8.00 AM,Time_7.00 - 8.00 PM,Time_8.00 - 9.00 AM,Time_8.00 - 9.00 PM,Time_9.00 - 10.00 AM,Time_9.00 - 10.00 PM,Sex_Male,Age Group(14-50)_Yes,No of Passengers
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,50
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,70
2,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,30
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,43
4,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,34
404,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,72
405,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,56
406,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,31
407,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,34

In [11]:
y

0      13
1      18
2       8
3      11
4      12
       ..
403     9
404    18
405    14
406     8
407     9
Name: No. of Bikes, Length: 408, dtype: int64

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = .20, random_state = 100) # test_size change to 0.25 %

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
rf = RandomForestClassifier(n_estimators=5)

In [15]:
rf.fit(x_train,y_train)

RandomForestClassifier(n_estimators=5)

In [16]:
rf.score(x_test,y_test)

0.6219512195121951

In [17]:
grid_param = {
    "n_estimators":[5,10,100,120,150],
    "criterion":['gini','entropy'],
    "max_depth": range(10),
    "min_samples_leaf": range(10),
    
}

In [18]:
grid_search_rf = GridSearchCV(param_grid=grid_param, cv = 10,n_jobs=6, verbose=1,estimator = rf)

In [19]:
grid_search_rf.fit(x_train,y_train)

Fitting 10 folds for each of 1000 candidates, totalling 10000 fits

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"
[Parallel(n_jobs=6)]: Using backend LokyBackend with 6 concurrent workers.
[Parallel(n_jobs=6)]: Done  38 tasks      | elapsed:    2.6s
[Parallel(n_jobs=6)]: Done 826 tasks      | elapsed:   14.1s
[Parallel(n_jobs=6)]: Done 1326 tasks      | elapsed:   27.3s
[Parallel(n_jobs=6)]: Done 2026 tasks      | elapsed:   47.8s
[Parallel(n_jobs=6)]: Done 2926 tasks      | elapsed:  1.2min
[Parallel(n_jobs=6)]: Done 4026 tasks      | elapsed:  1.8min
[Parallel(n_jobs=6)]: Done 5558 tasks      | elapsed:  2.4min
[Parallel(n_jobs=6)]: Done 8558 tasks      | elapsed:  3.9min
[Parallel(n_jobs=6)]: Done 10000 out of 10000 | elapsed:  4.7min finished

GridSearchCV(cv=10, estimator=RandomForestClassifier(n_estimators=5), n_jobs=6,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(0, 10),
                         'min_samples_leaf': range(0, 10),
                         'n_estimators': [5, 10, 100, 120, 150]},
             verbose=1)

In [20]:
grid_search_rf.best_params_

{'criterion': 'gini',
 'max_depth': 9,
 'min_samples_leaf': 1,
 'n_estimators': 150}

In [21]:
rf_new = RandomForestClassifier(criterion='gini', max_depth=9,min_samples_leaf=1, n_estimators=150)

In [22]:
rf_new.fit(x_train,y_train)

RandomForestClassifier(max_depth=9, n_estimators=150)

In [23]:
rf_new.score(x_test,y_test)

0.6951219512195121

In [25]:
from sklearn.neighbors import KNeighborsClassifier

In [26]:
knn = KNeighborsClassifier()

In [27]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [28]:
knn.score(x_test,y_test)

0.9512195121951219

In [29]:
param = {
    'n_neighbors': [3,5,7,9,12,13,15,17,21],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'leaf_size': [5,10,15,20,25,30,35,40,45],
    'p': [1,2],
    'weights':['uniform', 'distance']
    
}

In [30]:
grid_cv = GridSearchCV(knn,param_grid=param)

In [31]:
grid_cv.fit(x_train,y_train)

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'leaf_size': [5, 10, 15, 20, 25, 30, 35, 40, 45],
                         'n_neighbors': [3, 5, 7, 9, 12, 13, 15, 17, 21],
                         'p': [1, 2], 'weights': ['uniform', 'distance']})

In [32]:
grid_cv.best_params_

{'algorithm': 'auto',
 'leaf_size': 10,
 'n_neighbors': 5,
 'p': 1,
 'weights': 'distance'}

In [33]:
knn = KNeighborsClassifier(n_neighbors=5, p= 1,weights= 'distance',leaf_size= 10,algorithm='auto')

In [34]:
knn.fit(x_train,y_train)

KNeighborsClassifier(leaf_size=10, p=1, weights='distance')

In [35]:
knn.score(x_test,y_test)

0.9634146341463414

In [36]:
knn.predict(x_test)

array([16, 11, 10, 26, 25, 25, 13,  8, 12, 19, 22, 11, 11, 24, 26, 23, 19,
       16, 18, 13, 18,  8, 25, 15, 14, 12, 12,  8, 28, 24,  8, 18, 24, 14,
        2, 23,  8, 22, 22, 12,  9,  8, 16, 19, 23, 18, 25,  9, 23, 12, 27,
        8, 27, 17, 13, 28, 18, 12, 27, 11, 15, 24, 28,  8, 23, 24, 28, 25,
        9,  8, 11, 24, 26,  9, 27, 32, 17, 27, 10, 31, 14, 12],
      dtype=int64)

In [15]:
from sklearn.svm import SVR

In [16]:
svr = SVR()
svr.fit(x_train,y_train)
svr.score(x_test,y_test)

0.9885049321972266

In [17]:
# No multi-level classificatio, so no sigmoid function is required.

param = {'C': [1.0,2.0,3.0],
 'degree': range(3),
 'gamma': ['scale', 'auto'],
 'kernel': ['linear', 'poly'],
}

In [18]:
grid_cv_svr = GridSearchCV(svr,param_grid=param, n_jobs=3, verbose=5)

In [19]:
svr.get_params()

{'C': 1.0,
 'cache_size': 200,
 'coef0': 0.0,
 'degree': 3,
 'epsilon': 0.1,
 'gamma': 'scale',
 'kernel': 'rbf',
 'max_iter': -1,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [19]:
grid_cv_svr.fit(x_train,y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  12 tasks      | elapsed:    2.3s
[Parallel(n_jobs=3)]: Done  66 tasks      | elapsed:   14.2s
[Parallel(n_jobs=3)]: Done 156 tasks      | elapsed:   55.3s
[Parallel(n_jobs=3)]: Done 180 out of 180 | elapsed:  1.7min finished

GridSearchCV(estimator=SVR(), n_jobs=3,
             param_grid={'C': [1.0, 2.0, 3.0], 'degree': range(0, 3),
                         'gamma': ['scale', 'auto'],
                         'kernel': ['linear', 'poly']},
             verbose=5)

In [20]:
grid_cv_svr.best_params_

{'C': 3.0, 'degree': 1, 'gamma': 'scale', 'kernel': 'poly'}

In [23]:
svr_opt = SVR(C=3.0,degree=1,gamma='scale',kernel='poly')

In [24]:
svr_opt.fit(x_train,y_train)

SVR(C=3.0, degree=1, kernel='poly')

In [25]:
svr_opt.score(x_test,y_test)

0.9986681729381911

In [26]:
svr_opt.predict(x_test)

array([15.89174257, 10.66144164, 10.40684523, 25.85078683, 24.61405031,
       24.86746213, 13.15446031,  7.90849594, 11.65483529, 19.12656624,
       22.36852055, 10.65668016, 11.40440807, 23.8649434 , 25.85670975,
       22.86875955, 18.8773236 , 15.89292715, 18.38083276, 13.14614508,
       17.88511453,  8.41648103, 24.87220046, 14.89619732, 13.90514968,
       11.65305842, 11.65189699,  8.4081658 , 28.34832627, 23.86456867,
        8.1609176 , 17.88829355, 23.86077421, 14.14607709,  2.93255071,
       22.62169167,  8.40522749, 22.36814582, 22.3684974 , 11.64952782,
        8.91674318,  7.66221476, 15.63953848, 18.87910048, 22.86937499,
       17.89127816, 24.62118095,  9.1636398 , 22.868829  , 11.66435826,
       27.11123816,  8.16153304, 27.11301504, 16.62883239, 13.39778003,
       28.10643184, 17.88094534, 11.65246613, 27.10413067, 10.66381081,
       15.38555751, 24.11122458, 28.10882416,  8.40638893, 22.62487069,
       23.86513781, 28.10820871, 24.86568526,  8.89833585,  8.40878124,
       10.66084935, 23.61648746, 26.60621453,  9.16181663, 27.11656879,
       33.84197396, 16.63416301, 27.11419962,  9.91171929, 30.59468903,
       14.14230578, 11.65900448])

In [27]:
param_1 = {'C': [1.0,2.0,3.0],
 'degree': range(3),
 'gamma': ['scale', 'auto'],
 'kernel': ['linear', 'poly','rbf'],
}

In [28]:
grid_cv_svr_1 = GridSearchCV(svr,param_grid=param, n_jobs=3, verbose=5)

In [29]:
grid_cv_svr_1.fit(x_train,y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  12 tasks      | elapsed:    2.3s
[Parallel(n_jobs=3)]: Done  66 tasks      | elapsed:   14.7s
[Parallel(n_jobs=3)]: Done 156 tasks      | elapsed:   53.6s
[Parallel(n_jobs=3)]: Done 180 out of 180 | elapsed:  1.7min finished

GridSearchCV(estimator=SVR(), n_jobs=3,
             param_grid={'C': [1.0, 2.0, 3.0], 'degree': range(0, 3),
                         'gamma': ['scale', 'auto'],
                         'kernel': ['linear', 'poly']},
             verbose=5)

In [30]:
grid_cv_svr_1.best_params_

{'C': 3.0, 'degree': 1, 'gamma': 'scale', 'kernel': 'poly'}